In [39]:
def check():
    print("this is simple function ")

In [40]:
check()

this is simple function

In [41]:
def divide(a,b):
    ans=a/b
    print(ans)

In [42]:
divide(100)# erroe

TypeError: divide() missing 1 required positional argument: 'b'

In [ ]:
def update_salary(old_salary ):
    new_salary=old_salary+old_salary*0.8
    print(f"{old_salary} -> {new_salary}")
def remove_hra(salary):
    new_salary=salary-salary*0.5
    print(f"{salary} -> {new_salary}")

In [ ]:
print(update_salary(100000))
print(remove_hra(10800))

100000 -> 180000.0
None
10800 -> 5400.0
None

function with return value and parameters

In [ ]:
def update_salary(old_salary ):
    new_salary=old_salary+old_salary*0.8
    return new_salary
def remove_hra(salary):
    new_salary=salary-salary*0.5
    
    return new_salary

In [ ]:
print(update_salary(10000))

18000.0

In [ ]:
salary=update_salary(20000)
print(salary)

36000.0

In [ ]:
update_salary(10000)+50000

68000.0

In [ ]:
remove_hra(update_salary(150000))

135000.0

- waf to return true or false, if a number is even or not
- waf to remove all vowels from a sentence given in a function
- waf to return the second highest value from a list given as parameter

In [ ]:
def evenorodd(num):
    
    if num%2==0:
        return True
    else :
        return False
evenorodd()

False

In [44]:
def vowel(st):
    for i in "aeiouAEOIU":
       st=st.replace(i,'')
    return st
vowel('MY NAME IS KOMAL GAUTAM')

'MY NM S KML GTM'

In [ ]:
def max2(num_list):
    num_list.sort()
    return num_list[-2]

In [ ]:
print(max2([2,3,4,5,6,6,7,889,95,4,34,3,2]))

95

In [45]:
def q(x,y,z):
    return x**y -z*x

In [53]:
q(2,3,4)# normal way
print(q(x=3,y=6,z=9))# names parameters/ keyword argument
print(q(y=12,x=3,z=5))# named parameter /keyword argument
print(q(12,z=12,y=7))

702
531426
35831664

In [51]:
print("helo",'is','not','hello', sep='.    .')

helo.    .is.    .not.    .hello

In [49]:
"we are going to stop writing".split('o')

['we are g', 'ing t', ' st', 'p writing']

In [52]:
def add4(x,y,z=0,z2=0):
    return x+y+z+z2

In [55]:
print(add4(1,2))
print(add4(1,2,3))
print(add4(1,3,4,5))

3
6
13

In [56]:
def count_zero(*num):
    if len(num)>0:
        return num.count(0)

In [58]:
print(count_zero(1,3,4,5,67,87,9,0,0,0,0,0,0))

6

In [59]:
def adder(*args):
    if len(args)>0:
         return sum(args)
    return 0

In [61]:
print(adder(2,4,7,9,6,5,4,3,6))

46