# loop

In [6]:
x="python is awesome "
for i in x:
    print(i)

p
y
t
h
o
n

i
s

a
w
e
s
o
m
e

In [1]:
fruits= ["apple","banana","lemon"]
for item in fruits:
    print(f"i have {item}")

i have apple
i have banana
i have lemon

In [7]:
movies=["the holy grail","the life of grain ","the meaning of life ","terminator","pulp fiction "]

In [8]:
for movie in movies:
    print(movie,len(movie))

the holy grail 14
the life of grain  18
the meaning of life  20
terminator 10
pulp fiction  13

## for loop with counter

In [9]:
for i ,name in enumerate (movies):
    print(f"{i}-{name}")

0-the holy grail
1-the life of grain
2-the meaning of life
3-terminator
4-pulp fiction

## range() function

In [10]:
for i in range (6):
    print("you got point ",i)

you got point  0
you got point  1
you got point  2
you got point  3
you got point  4
you got point  5

In [11]:
for num in range(1,10,3):
    print("level",num)

level 1
level 4
level 7

In [13]:
for num in range (2,44):
    print ("level",num)

level 2
level 3
level 4
level 5
level 6
level 7
level 8
level 9
level 10
level 11
level 12
level 13
level 14
level 15
level 16
level 17
level 18
level 19
level 20
level 21
level 22
level 23
level 24
level 25
level 26
level 27
level 28
level 29
level 30
level 31
level 32
level 33
level 34
level 35
level 36
level 37
level 38
level 39
level 40
level 41
level 42
level 43

## reverse loop

In [15]:
for num in range (10,5,-1):
    print(num)

10
9
8
7
6

### pattern loop

In [19]:
for i in range (10):
   print (i*"Na")

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [25]:
for  i in  range (5):
   print(i*"koaml")

koaml
koamlkoaml
koamlkoamlkoaml
koamlkoamlkoamlkoaml

### 1. wap to print if number are even or odd from 1,100
### 2. wap to print the sum of all even number from 2 to 100
### 3.wap to print the average of all odd number from 1 to 100

### 1.

In [10]:

for i in range(1,101):
    if i%2==0:
        print("number is even",i)
    else:
        print("number is odd ",i)

number is odd  1
number is even 2
number is odd  3
number is even 4
number is odd  5
number is even 6
number is odd  7
number is even 8
number is odd  9
number is even 10
number is odd  11
number is even 12
number is odd  13
number is even 14
number is odd  15
number is even 16
number is odd  17
number is even 18
number is odd  19
number is even 20
number is odd  21
number is even 22
number is odd  23
number is even 24
number is odd  25
number is even 26
number is odd  27
number is even 28
number is odd  29
number is even 30
number is odd  31
number is even 32
number is odd  33
number is even 34
number is odd  35
number is even 36
number is odd  37
number is even 38
number is odd  39
number is even 40
number is odd  41
number is even 42
number is odd  43
number is even 44
number is odd  45
number is even 46
number is odd  47
number is even 48
number is odd  49
number is even 50
number is odd  51
number is even 52
number is odd  53
number is even 54
number is odd  55
number is even 56
number is odd  57
number is even 58
number is odd  59
number is even 60
number is odd  61
number is even 62
number is odd  63
number is even 64
number is odd  65
number is even 66
number is odd  67
number is even 68
number is odd  69
number is even 70
number is odd  71
number is even 72
number is odd  73
number is even 74
number is odd  75
number is even 76
number is odd  77
number is even 78
number is odd  79
number is even 80
number is odd  81
number is even 82
number is odd  83
number is even 84
number is odd  85
number is even 86
number is odd  87
number is even 88
number is odd  89
number is even 90
number is odd  91
number is even 92
number is odd  93
number is even 94
number is odd  95
number is even 96
number is odd  97
number is even 98
number is odd  99
number is even 100

### 2.

In [2]:
sum=0
for i in range (2,101):
    if i%2==0:
        sum=sum+i
print(sum)

2550

### 3.

In [1]:
sum=0
count =0
for i in range (1,100):
    if i%2!=0:
        sum=sum+i
        count=count+1

print(sum/count)

50.0

In [21]:
for i in range (1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=",")

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [25]:

for i in range (1,6):
    for k in range (1,6):
        print(i*k,end="   ")
    print()

1   2   3   4   5
2   4   6   8   10
3   6   9   12   15
4   8   12   16   20
5   10   15   20   25

In [26]:
print(1,2,3,4,5 ,sep=" ")
print(2,4,6,8,10 ,sep=" ")
print(3,6,9,12,15,sep=" ")
print(4,8,12,16,20 ,sep=" ")
print(5,10,15,20,25 ,sep=" ")

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

# while loop

### example of while loop

In [27]:
x=1
while x<5:
    print("run")
    x=x+1
print("stop")

run
run
run
run
stop

In [28]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print (" the sum is ",sum)

 the sum is  55

In [32]:
poem =""
while input("you want to write another line?[y,n]")=="y":
    line=input(">>>")
    poem=poem+line
chars =len(poem)
print(f"total char in poem is {chars}")

total char in poem is 74

In [33]:
print(poem)

there was aboy who went to complete bca from babu banarasi das university

In [48]:
poem=""
while True:
    line= input("enter poem line >>")
    if line:
        poem+=line+"\n"
    else :
        break
print("total chars ",len(poem))
print(poem)

total chars  39
blah b lah blah
cha cha vha
lalalala

# break and continue keywords

### continue

In [41]:
x=[1,2,'',3,4,5,'',6,7,8,'',9,10]
total=0
for i in x:
    if isinstance(i,str):
        continue
    if i in [1,2,3,4]:
        continue
    total +=i
print(total)

45

In [46]:
x=[1,2,'',3,4,5,'',6,7,8,'',9,10]
total=0
for i in x:
   
    if i in [1,2,3,4]:
     continue
    if isinstance(i,int):
     total +=i
    
print(total)

45

In [49]:
poem=""
while True:
    line= input("enter poem line >>")
    if line:
        poem+=line+"\n"
    else :
        break
print("total chars ",len(poem))
print(poem)

total chars  38
blaH BLAH BLAH
LLLALALALA
CHA HA CHA