# tuple 
- tuple is immutable(item cannot be chnaged during execution )
- tuple is heterogenous (mixed data can be stored )
- tuple can have duplicate values
- tuple is indexed (item have indexes and can be sliced )
- tuple uses () bracklets with values inside it seperated with commas
## what to learn 
- creating tuple 
- indexing n slicing 
- traversal  (looping )
- function(2)

In [1]:
a=(1,2,3,4)# tuple stored in paranthenis

In [3]:
print(a,type(a))

(1, 2, 3, 4) <class 'tuple'>

In [4]:
data=12,23,4,5,6,676
data

(12, 23, 4, 5, 6, 676)

In [5]:
a,b,c=23,45,67
z=(a,b,c)
print(z)

(23, 45, 67)

In [6]:
x = (1,2,3,4,5,6,7,8,9,10)

In [7]:
print(x[0], x[-1], x[6])

1 10 7

In [4]:
print("first five ",x[:5])
print("last five ", x[-5:])
print("reverse",x[::-1])

first five  (1, 2, 3, 4, 5)
last five  (6, 7, 8, 9, 10)
reverse (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [5]:
y=[1,2,5,4,6]

print(y)
y[0]=10 # update 
print(y)

[1, 2, 5, 4, 6]
[10, 2, 5, 4, 6]

In [8]:
x=(1,2,3,4,5,6,7,8,9,10)
print(x)
x[0]=10 # update will not work 
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'tuple' object does not support item assignment

In [10]:
# traversing 
for i in x:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [11]:
names='alex', 'mike','john','mary','bob'

In [12]:
for name in names :
    print("hello",name)

hello alex
hello mike
hello john
hello mary
hello bob

In [13]:
names.index("john")

2

In [17]:
if "maria" in names :
   print( names.index("marie"))
else :
    print(" No marie")

 No marie

In [9]:
x=(11,2,4,5,6,76,2,3,4,5,6,7,8,9)
print(x.count(3))
print(x.count(1))
print(x.count(11))
print(x.count(5))

1
0
1
2

### conversion from list to tuple and vice versa

In [10]:
x=[1,2,3,4,5,6,7,8,9,0]
xt=tuple(x)
print(x,type(x))
print(xt,type(xt))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0] <class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0) <class 'tuple'>

In [11]:
x1=list(xt)
print(xt,type(xt))
print(x1,type(x1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0] <class 'list'>

In [13]:
word="valhalla"
word_char_list=list(word)
word_char_tuple=tuple(word)
print(word)
print(word_char_list)
print(word_char_tuple)

valhalla
['v', 'a', 'l', 'h', 'a', 'l', 'l', 'a']
('v', 'a', 'l', 'h', 'a', 'l', 'l', 'a')