In [197]:
for i in  range(10):
    print(f'flipkart.com?{i+1}')

flipkart.com?1
flipkart.com?2
flipkart.com?3
flipkart.com?4
flipkart.com?5
flipkart.com?6
flipkart.com?7
flipkart.com?8
flipkart.com?9
flipkart.com?10

In [198]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [199]:
query='shoes'
page=1
datalist=[]

In [200]:
link=f'https://www.flipkart.com/search?q={query}&page={page}'

In [201]:
def getpage(link):
    try:
        page=requests.get(link)
        print('data loaded')
        return BeautifulSoup(page.text,'lxml')
    except Exception as error:
        print('Error',error)

In [202]:
soup=getpage(link)

data loaded

In [203]:
def extract(pagedata):
    card=soup.find_all('div',{'class':'_1xHGtK _373qXS'})
    size=len(card)
    if size>0:
          for pr in card:
               name=pr.find('a',{'class':'IRpwTa'}).text
               price=pr.find('div',{'class':'_30jeq3'}).text
               discount=pr.find('div',{'class':'_3Ay6Sb'}).text
               datalist.append({
                   'name':name,
                   'price':price,
                   'discount':discount
               })
          return  True
    else:
          print('no product found')
          return False

In [204]:
def save(filebname):
  df=pd.DataFrame(datalist)
  df.to_csv(f'{filebname}.csv')
  return df
  print('saved')

In [205]:
while True:
    link=f"https://www.flipkart.com/search?q={query}&page={page}"
    print('data extracted from page ',page)
    soup=getpage(link)
    if soup:
        status=extract(soup)
        if  not status:
            print('product extracted')
            break
        else:
            page+=1

data extracted from page  1
data loaded
data extracted from page  2
data loaded
data extracted from page  3
data loaded
data extracted from page  4
data loaded
no product found
product extracted

In [208]:
out=save('flipkart shoes names ')

In [209]:
out

                                                  name   price discount
0    Comfortable and Stylish Boys Sports Shoes Runn...    ₹289  42% off
1                                Running Shoes For Men  ₹1,509  63% off
2    Socks Stylish Cricket , Walking Shoes , Light ...    ₹248  75% off
3    Exclusive Range of Stylish Casual Walking Comf...    ₹191  72% off
4    Exclusive Range of Stylish Comfortable Sports ...    ₹247  75% off
..                                                 ...     ...      ...
115                                      Boots For Men    ₹444  55% off
116  Royal Look Party Wear Shoes For Men ll Casual ...    ₹669  48% off
117                    casual for men Sneakers For Men    ₹399  60% off
118                  Synthetic Leather Loafers For Men    ₹949  52% off
119           BLACK SHARK Training & Gym Shoes For Men    ₹374  62% off

[120 rows x 3 columns]