In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
query='shoes'
page=1
datalist=[]

In [3]:
link=f'https://www.flipkart.com/search?q={query}&page={page}'

In [4]:
def getpage(link):
    try:
        page=requests.get(link)
        print('data loaded')
        return BeautifulSoup(page.text,'lxml')
    except Exception as error:
        print('Error',error)

In [5]:
soup=getpage(link)

data loaded

In [6]:
def extract(pagedata):
    
    card=soup.find_all('div',{'class':'_1xHGtK _373qXS'})
    size=len(card)
    if size>0:
          for pr in card:
               name=pr.find('a',{'class':'IRpwTa'}).text
               price=pr.find('div',{'class':'_30jeq3'}).text
               try: 
                discount=pr.find('div',{'class':'_3Ay6Sb'}).text
               except:
                discount = 0
               
               datalist.append({
                   'name':name,
                   'price':price,
                   'discount':discount
               })
          return  True
    else:
          print('no product found')
          return False

In [7]:
def save(filebname):
  df=pd.DataFrame(datalist)
  df.to_csv(f'{filebname}.csv')
  return df
  print('saved')

In [8]:
while True:
    link=f"https://www.flipkart.com/search?q={query}&page={page}"
    print('data extracted from page ',page)
    soup=getpage(link)
    if soup:
        status=extract(soup)
        if  not status:
            print('product extracted')
            break
        else:
            
            page+=1

data extracted from page  1
data loaded
data extracted from page  2
data loaded
data extracted from page  3
data loaded
data extracted from page  4
data loaded
data extracted from page  5
data loaded
data extracted from page  6
data loaded
data extracted from page  7
data loaded
data extracted from page  8
data loaded
data extracted from page  9
data loaded
data extracted from page  10
data loaded
data extracted from page  11
data loaded
data extracted from page  12
data loaded
data extracted from page  13
data loaded
data extracted from page  14
data loaded
data extracted from page  15
data loaded
data extracted from page  16
data loaded
data extracted from page  17
data loaded
data extracted from page  18
data loaded
data extracted from page  19
data loaded
data extracted from page  20
data loaded
data extracted from page  21
data loaded
data extracted from page  22
data loaded
data extracted from page  23
data loaded
data extracted from page  24
data loaded
data extracted from page  25
data loaded
no product found
product extracted

In [9]:
out=save('flipkart shoes names ')
out

                                                  name   price discount
0    Spider-01 White Sports,Casual,Walking,Gym, Run...  ₹1,149  42% off
1    Crystal-13 Black sky Sports Transparent Sole T...  ₹1,348  41% off
2    Exclusive Range of Stylish Casual Walking Comf...    ₹192  72% off
3    Revolution 6 Next Nature Road s Running Shoes ...  ₹2,277  38% off
4    Exclusive Range of Stylish Comfortable Sports ...    ₹249  75% off
..                                                 ...     ...      ...
955              Hustle V2 Wns Running Shoes For Women  ₹1,139  71% off
956                        Athleisure Sneakers For Men    ₹939  71% off
957                                    Casuals For Men  ₹1,710  61% off
958                            SHP3008 Loafers For Men    ₹649  61% off
959                                    Casuals For Men    ₹269  73% off

[960 rows x 3 columns]